.item {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: 1px solid #212929;
  height: 100px;
}

.item:hover {
  background-color: #333333;
}

.field {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  width: 33%;
}

.field > * {
  padding-left: 24px;
  margin: 0;
}

.label {
  font-size: 0.6em;
}

@media screen and (max-width: 768px) {
  .item {
    height: 100px;
  }
}