.header-container {
  width: 100vw;
  height: 80px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  opacity: 0.95;
}

.header-container__title {
  width: 100vw;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-container__title h2 {
  margin: 0; 
}
.header-container__title span {
  font-size: 0.8em;
}

.header-container nav {
  display: flex;
  width: 100%;
  justify-content: center;
}
.header-container nav button {
  width: 260px;
  height: 30px;
  background-color: #fff;
  color: black;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.header-container nav button:hover {
  background-color: #333;
  color: white;
}