.container {
	display: grid;
	grid-template-columns: 300px 500px;
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 16px 0;
	background-color: #202329;
}

.picture {
	width: 300px;
	height: 300px;
}

img {
  border-radius: 16px;
	max-width: 300px;
	max-height: 100%;
	object-fit: contain;
}

.episodes-container {
	color: #fff;
	padding: 16px;
	background-color: #444444;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	grid-column: 1 / span 2;
}

.episodes-container .item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.episodes-container .item .field > p {
	width: 33%;
	text-align: left;
}

.episodes-container .item .field > p:nth-last-child(1) {
	text-align: right;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  background-color: #444444;
	color: #fff;
	border: 1px solid #212929;
  border-radius: 16px;
}

.description h3 {
  margin: 16px 0 0 0;
}

.field {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
  align-items: center;
}

.field .label {
  margin-left: 16px;
}

.field p {
  margin-right: 16px;
  text-align: right;
}

